body {
  width: 100%;
  margin: 0;
  background-color: rgb(254,251,234);
}

#title, #description {
  margin: 1em auto;
  text-align: center;
}

form {
  background: #92A1B3;
  margin: 2rem;
  padding: 20px;
}

p {
  text-align: left;
}

fieldset {
  border: none;
  padding: 2rem;
}

label {
  display: block;
  margin: 0.5rem 0;
}

.container {
  max-width: 720px;
  margin: 10px auto;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 88%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #F3DEFF;
  border-color: white;
  min-width: 300px;
}
